if ("<%= @password %>" == "<%= @room.password %>") {
	$("#student").html("<p><%= @room.comment %></p>");
} else {
	$("#student p").html("Incorrect password!").css("color", "red");
	setTimeout(function () {
		$("#student p").html("Password").css("color", "white");
	}, 1500);
}
