if ("<%= @password %>" == "<%= @room.password %>") {
	$("#student").html("<p><%= @room.comment %></p>");

	// Subscribe to the Faye channel.
	var client = new Faye.Client("http://localhost:3000/faye");
	var subscription = client.subscribe("/echochamber/<%= @room.id %>", function (message) {
		// This happens whenever something is sent on the server.
	});
} else {
	$("#student p").html("Incorrect password!").css("color", "red");
	setTimeout(function () {
		$("#student p").html("Password").css("color", "white");
	}, 1500);
}
